.header{
    background-image: url(../../black-thread.png);
    background-repeat: repeat;
    background-color: var(--header);
    color: #fff;
    min-height: 38rem;
    padding: 26rem 4rem 26rem 4rem;
    text-align: center;
}