@import '../../theme.css';

.area{
    /* background-image: url(/4de356f6ddb204ae047d4fe8bfadd690d4d0b2fe/00972/assets/images/geometry.svg); */
    /* background-repeat: repeat; */
    background-color: var(--area);
    color: #fff;
    min-height: 400px;
    padding: 1rem;
    text-align: center;

    color: var(--font1);
}

.grid{
    justify-content: center;
}