/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=7000u0k7TkHe7-ui+sMqjkwv3f2 */

/* Feel free to copy&paste color codes to your application */
:root{
    --bars : #024848;
    --header: #388A8A;
    --area: #A58F7C;
    --footer: #116262;
    --font1: #E55D5D;
    --font2: #E59B5D;
    --font3: #5EA7A7;
    --color-1: #A57C7C;	/* Main Primary color */
    --color-2: #FF8F8F;
    --color-3: #E55D5D;
    --color-4: #A31D1D;
    --color-5: #780404;

    --color-6: #A58F7C;	/* Main Secondary color (1) */
    --color-7: #FFC28F;
    --color-8: #E59B5D;
    --color-9: #A35A1D;
    --color-10: #783804;

    --color-11: #4B6363;	/* Main Secondary color (2) */
    --color-12: #5EA7A7;
    --color-13: #388A8A;
    --color-14: #116262;
    --color-0: #024848;

    --color-16: #638463;	/* Main Complement color */
    --color-17: #76D376;
    --color-18: #4BB74B;
    --color-19: #178317;
    --color-20: #036003;
}
